<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    <header>
        <h1>Restful Creatures</h1>
        <br>
        <a href="/home">Home</a>
        <h2>Dinosaurs</h2>
        <a href="/dinosaurs">Dinosaurs</a>
        <a href="/dinosaurs/new">New Dinosaurs</a>
        <br>
        <h2>Prehistoric Creatures</h2>
        <a href="/creatures">Prehistoric Creatures</a>
        <a href="/creatures/new">New Prehistoric creatures</a>
        <hr>

    </header>


    <%- body %>

</body>
</html>