<ul>
    <% myCreatures.forEach(creatures => { %>
        <a href="/prehistoric_creatures/ <%= idex%>">
            <li><%= creatures.img_url %> is a <%= creatures.type %></li>
            <% }); %>
        </a>
</ul>