<form method="POST" action="/prehistoric_creature">
    <label for="creaturesImage">Image</label>
    <input id="creaturesImage" type="text" name="img_url">

    <label for="creaturesType">Type</label>
    <input id="creaturesType" type="text" name="type">
  
  
    <input type="submit">
</form>