<form method="POST" action="/creatures">
    
    <label for="creaturesType">Type</label>
    <input id="creaturesType" type="text" name="type">
    
    <label for="creaturesImage">Image</label>
    <input id="creaturesImage" type="text" name="img_url">
  
    <input type="submit">
</form>