<ul>
    <% myDinos.forEach((dino,idx) => { %>
   <a href="/dinosaurs/<%= idx%>">

    <li><%= dino.name %> is a <%= dino.type %></li>

    <form method="POST" action="/dinosaurs/<%= idx %>/?_method=DELETE">
        <input type="submit" value="Delete Dinosaur">
    </form>
    
    </a> 
    <% }); %>
</ul>

