<h2>Dinosaurs</h2>
<form method="POST" action="/dinosaurs" id="index-list">
    <label for="dinosaurName">Name</label>
    <input id="dinosaurName" type="text" name="name">
    
    <label for="dinosaurType">Type</label>
    <input id="dinosaurType" type="text" name="type">
  
  
    <input type="submit">
</form>